form {
	margin: 0.5em 0;
	padding: 0 1em;
}

.formula {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(140, 190, 234, 0.7)
	
}
.form-section {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.form-section.row {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

label {
	font-size: 0.8em;
	border-radius: 0.4em;
}

input:valid {
	border: 0.2em solid #238247;
	border-radius: 0.4em;

}

input:invalid {
	border: 0.2em solid #d42c2c;
	border-radius: 0.4em;
	
}

.error-message {
	visibility: hidden;
	margin: 0;
	color: #561212;
	font-weight: bold;
}

input:invalid+.error-message {
	visibility: visible;
}

input[type="checkbox"]:checked+label, input[type="radio"]:checked+label {
	color: #238247;
}

input:focus {
	outline: none;
}
/* input[type="checkbox"][name="check"]:required+label::after {
	content: "*";
	color: rgb(168, 52, 46);
} */

/* input[type="checkbox"][name="check"]:checked+label::after {
	content: "*";
	color: rgb(46, 168, 62);
} */

/* input[type="checkbox"][name="check"]:required:invalid {
	outline: 2px solid red;
	outline-offset: -2px;
} */






