@media (max-width: 673px) {

	header {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		gap: 1em;
		padding-bottom: 1em;
	}

	header h1 {
		margin-bottom: 0;
		order: 1;
		width: 100%;
		text-align: center;
	}

	header a {
		order: 2;
	}

	.menu {
		display: none;
	}

}

@media (max-width: 495px) {
	p {
		font-size: 0.9em;
	}

	h2 {
		text-align: center;
	}
}

@media (max-width: 384px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	h3 {
		font-size: 1em;
	}

	.form-section.button-row {
		flex-direction: column;
		align-items: center;
	}

	button[type="submit"],
	button[type="reset"] {
		width: 20em;
	}
}

@media (max-width: 355px) {
	header {
		gap: 0.4em;
	}
}

@media (max-width: 318px) {
	h1 {
		font-size: 1.2em;
	}

	h2 {
		font-size: 1em;
	}

	h3 {
		font-size: 0.8em;
	}

	.content-left p,
	.bottom div p,
	.content-right p {
		font-size: 0.7em;
	}

}