* {
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: Poppins, sans-serif;
	background-image: url('Bilder/background.png');
	background-size: cover; 
	background-repeat: no-repeat;
}

header {
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(34, 193, 195);
	background: linear-gradient(169deg, rgba(34, 193, 195, 1) 0%, rgba(74, 134, 232, 1) 57%, rgba(89, 109, 226, 1) 81%);
	border-bottom: 0.12em solid white;
}

header a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header a:hover {
	text-decoration: underline;
}

h1 {
		color: white;
		text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h2 {
	color: white;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	margin: 0;
}

h3 {
	color: white;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	margin: 0;
}

.wrapper-two {
	display:flex;
	flex-wrap: wrap;
	padding: 2em;
	gap: 3em;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(140, 190, 234, 0.5);
}

.wrapper-two div {
	align-self: center;
}

.friday {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* padding: 5em; */
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.event {
	display: flex;
	padding: 0.5em;
	flex-direction: column;
	align-items: center;
	flex: 1;
	border-radius: 0.7em;
	border: 0.12em solid rgb(255, 255, 255);
	max-width: 17em;
	min-width: 15em;
	min-height: 12em;
	background-color: rgba(15, 85, 147, 0.5);
}

.event .end {
	align-self: flex-end;
}

 p {
	font-size: 0.8em;
	line-height: 140%;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	
}

footer {
	display: flex;
	justify-content: flex-end;
	padding: 1.2em;
	border-top: 0.12em solid white;
	background: rgb(34, 193, 195);
	background: linear-gradient(169deg, rgba(34, 193, 195, 1) 0%, rgba(74, 134, 232, 1) 57%, rgba(89, 109, 226, 1) 81%);
}

.wrapper-two a {
	display: flex;
    justify-content: center;
    align-items: center;
	align-self: center;
	margin-top: 0.9em;
	height: 3em;
	width: 6em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.5em;
	border: 1px solid rgb(36, 85, 145);
	background: rgb(34, 193, 195);
	background: linear-gradient(169deg, rgba(34, 193, 195, 1) 0%, rgb(109, 158, 237) 57%, rgb(123, 138, 226) 81%);
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

footer p {
	margin: 0;
}