* {
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	/* width: 100%; */
	font-family: Poppins, sans-serif;
	margin: 0;
	background-image: url('Bilder/background.png');
	background-size: cover; /* Adjust this property as needed */
	background-repeat: no-repeat;
}

header, footer {
	/* width: 100%; */
	display: flex;
	justify-content: center;
	background-color: rgba(140, 190, 234, 0.7)
}

.wrapper {
	/* width: 100%; */
	display:flex;
	flex-wrap: wrap;
	/* min-height: 100vh; */
	padding: 5em 5em 0 5em;
	gap: 5em;
	background-color: rgba(140, 190, 234, 0.7)
}

/* .content-left, .content-right {
	justify-self: stretch;
} */

.content-left {
	display: flex;
	flex-direction: column;
	background-color: #9adc9a;
	padding: 2em;
	/* width: 50%; */
	flex: 1;
}

.content-right {
	display: flex;
	flex-direction: column;
	background-color: #e99696;
	padding: 2em;
	/* width: 50%; */
	flex: 1;
}

.content-left, .content-right {
	border-radius: 1em;
	border: 1px solid black;
}

.content-left .bottom,
.content-right .bottom {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}


.bottom div p {
	font-weight: bold;
}

a {
	display: flex;
    justify-content: center;
    align-items: center;
	align-self: center;
	width: 5em;
	height: 3em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.7em;
	background-color: rgb(249, 245, 190);
}

h2 {
	font-size: 1.1em;
	line-height: 130%;
	align-self: center;
}

p {
	font-size: 0.8em;
	line-height: 140%;

}

footer {
	margin-top: 0;
}

